{% extends 'blog/base.html' %}

{% block content %}
<!-- {% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %} -->


 <div class="date">March 24, 2016</div>
<h1><a href="{% url 'names_search' %}">US Name Popularity</a></h1>
<p>Another interersting way to look at the baby names dataset.  Enter a name into the text box below to view a graph of the popularity of given names in the United States.  Data covers 1910 to 2014...</p>
{% endblock %}

