{% extends 'blog/base.html' %}

{% block content %}
<!-- {% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %} -->


 <div class="date">March 24, 2016</div>
<h1><a href="{% url 'names_search' %}">US Name Popularity</a></h1>
<p>Another interersting way to look at the baby names dataset. Enter a name into the text box below to view a graph of the popularity of given names in the United States. Data covers 1910 to 2014 and was obtained from Kaggle.com. Try entering multiple...</p>

<br>

<div class="date">March 22, 2016</div>
<h1><a href="{% url 'us_births' %}">Birth Rates by Region/State</a></h1>
<p>Exploring birth rates in the Unites States between the years 1910 and 2014. Interesting look at the birth rates during the great depression, baby boom, and the slow drop american births since. Percent views also gives a good idea of how populated each state/region...</p>

<br>

<div class="date">March 19, 2016</div>
<h1><a href="{% url 'goodreads_exploration' %}">Best Book Analysis</a></h1>
<p>Scraped data from the 'best book list ever' from Goodreads.com.  This is an exploration of the resulting data, and gives a good go at trying to find any particular trends more 'popular' books have in common.</p>

<br>

<div class="date">March 14, 2016</div>
<h1><a href="{% url 'tdwp_shows' %}">TDWP Show Choropleth</a></h1>
<p>First try with D3.js.  Exploring show frequency by state for my band, The Devil Wears Prada.  Originally completed for my final project for Udacity's Data Analysis Nanodegree program...</p>
{% endblock %}