

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

h1 {
font-size : 42px;
position : relative;
margin-left : 0px;
margin-top : -5px;
}


form {
position : absolute;
margin-left : 240px;
margin-top : 120px;
}

input {
position : absolute;
margin-left : 173px;
margin-top : 5px;
}

.legend {
position : absolute;
margin-left : 500px;
}

.button {
position : absolute;
margin-left : 125px;
margin-top : 5px;
width: 5em;  
height: 2.5em;
}
svg {
position : absolute ;
margin-top : 340px;
margin-left : 10px;
}
.title {
position : relative;
margin-left:160px;
}
.text{
position :relative;
margin-left: 75px;
margin-top:15px;
font-size : 16px;
width : 650px;
}